#dashboardsidebar{
    width: 230px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #fafafa;
    box-shadow: 1px 0px 2px 2px var(--su-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#dashboardsidebarHead{
    width: 100%;
    box-sizing: border-box;
    padding: 10px ;
    border-bottom: 1px var(--su-bg) solid;
}
#dashboardsidebarHead h1{
    font-size: 3em;
}

#dashboardsidebarNew{
    padding: 10px 15px;
}
#dashboardsidebarNew button{
    width: 100%;
    padding: 10px 15px;
    background: var(--light-green);
    box-shadow: var(--shadow);
    border-radius: 4px;
}

#dashboardsidebarDomains{
    padding: 10px 15px;
}
#dashboardsidebarDomains p{
    padding: 10px 0;
    font-size: 3em;
    font-weight: 600;
    color: var(--text-color-light);
    cursor: pointer;
}
#dashboardUser{
    width: 100%;
    padding: 30px 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3em;
}
#dashboardUser img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
#dashboardLogout{
    width: calc(100% - 30px);
    background: var(--light-red);
    margin: 0 15px;
}
#dashboardBugs{
    width: calc(100% - 30px);
    background: var(--light-blue);
    margin: 20px 15px;
}


#Dashboard{
    width: 100vw;
    display: flex;
}
#dashboardMain{
    padding: 10px 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#dashboardMain h1{
    width: 100%;
    margin-bottom: 40px;
    font-size: 3em;
}

.dashboardItem{
    width: 45%;
    height: 300px;
    box-shadow: var(--shadow);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 15px;
    cursor: pointer;
}

.dashboardItem header{
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 20px;
}
.dashboardItem p{
    font-size: 3em;
    margin-top: 25px;
}


#dashboardNone{
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}