#settingsMain{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.settingsItem{
    width: 45%;
    border-radius: 5px;
    box-shadow: var(--shadow);
    background: var(--ext-bg);
    margin-bottom: 30px;
    padding: 20px;
}
.settingsItem header{
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 15px;
}
.settingsItem h3{
    font-size: 4em;
    font-weight: 600;
}

#settingsSave{
    padding: 5px 15px;
    margin-left: auto;
    background: var(--light-blue);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #000
}

.stcursor{
    cursor: pointer;
}