.mcomment{
    width: 100%;
    display: flex;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.mcomment .mcomment{
    margin-bottom: 0px;
}
.mcommentdisapproved{
    background: rgb(255, 224, 224);
}
.mcommentProfile{
    width: 40px;
    margin-right: 13px;
    flex-shrink: 0;
}
.mcommentProfile img{
    width: 100%;
    height: 40px;
    border-radius: 50%;
}


.mcommentContent{
    width: calc(100% - 65px);
    padding-top: 5px;
}
.mcommenttime{
    font-size: 2em;
}
.mcommentname{
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 5px;
}
.mcommenttext{
    width: 100%;
    margin: 7px 0;
    border-top: 1px var(--su-bg) solid;
    padding: 5px;
    font-size: 2.6em;
}


.mcommentActions{
    width: 100%;
    margin-top: 5px;
    padding-left: 63px;
}
.mcommentActions button{
    padding: 5px 15px;
    margin-right: 15px;
    border: 1px var(--su-bg) solid;
    border-radius: 3px;
    font-size: 2.3em;
}

#nestedComments{
    width: 100%;
    height: fit-content;
    padding-left: 50px;
    padding-top: 20px;
}